.menu-component {
    .menu-component__list {
        @apply
        w-full
        md:flex
        ;
        > li {
            @apply
            my-4
            md:my-auto
            md:mx-2
            uppercase
            font-bold
            ;
            ul {
                @apply
                normal-case
                font-normal
                ;
            }
        }
    }
    .menu-component--item__submenu {
        @apply
        md:mt-2
        ;
    }
}
