.footer-component {
    @apply
    text-white
    ;

    .socials-container {
        @apply
        bg-sky-600
        ;
    }

    .socials {
        @apply
        flex
        flex-col
        md:flex-row
        justify-center
        md:justify-end
        items-center
        py-4
        ;
    }

    .footer-component__menu {
        @apply
        py-12
        bg-zinc-600
        ;
        .menu-component {
            @apply
            md:max-w-screen-xl
            mx-auto
            ;
            .menu-component__list {
                @apply
                md:justify-between
                ;
            }
        }
    }

    .disclaimer {
        @apply
        bg-gray-950
        text-sm
        py-8
        text-center
        md:text-right
        ;
    }

    .dihgg {
        @apply
        inline-flex
        items-center
        text-xs
        ;

        img {
            @apply
            inline-block;
        }
    }
}
