.post-component {
    @apply
    transition-transform
    ease-in-out
    delay-200
    hover:scale-105
    ;
    &__badge-container {
        @apply
        absolute
        -top-4
        gap-2
        overflow-hidden
        w-full
        px-4
        flex
        ;
    }
    &__image {
        @apply
        w-full
        h-64
        bg-gray-500
        md:h-64
        ;
        img {
            @apply
            w-full
            h-full
            object-cover
            ;
        }
    }
    &__content-wrapper {
        @apply
        relative
        bg-white
        /* h-48 */
        ;

    }
    &__content {
        @apply
        bg-white
        px-4
        py-5
        h-full
        flex
        flex-col
        justify-start
        ;

        h2 {
            @apply
            text-2xl
            font-bold
            overflow-hidden
            text-ellipsis
            ;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

    }
    &__excerpt {
        @apply
        overflow-hidden
        text-ellipsis
        my-2
        ;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &--flex {
        @apply flex;
        .post-component {
            &__image {
                @apply w-1/4;
            }
            &__content-wrapper {
                @apply w-3/4;
            }
        }

    }
}
